@import '~antd/dist/antd.css';
.App{
    font-size: 120%;
    .register-form-button{
        width: 100%;
    }
}
.App > * {
    padding: .5em;
}
header{
    display: grid;
    grid-template-columns: 10em 1fr;
    h1{
        margin-block-end: 0;
        border-bottom: 1px solid #f0f0f0;
    }
}