/*defaults from https://habr.com/ru/post/45296/, i just like it*/

/* set box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* rm paddings */
ul[class],
ol[class] {
  padding: 0;
}

/* rm margins */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* defaults for body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* rm list-style for ul and li that have classs*/
ul[class],
ol[class] {
  list-style: none;
}

/* a without class => defaults */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* bye, overflowing images */
img {
  max-width: 100%;
  display: block;
}

/* article items margin*/
article > * + * {
  margin-top: 1em;
}

/* inherit fonts for inputs */
input,
button,
textarea,
select {
  font: inherit;
}

/* rm abimation for people that don't want animations */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}